.bt1{
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 50px;
    margin: 10px 0px;
    background-color: cadetblue;
    text-decoration: underline;
    color:aliceblue;
}

.bt2{
    width: 60px;
    height: 80px;
    border: 2px black solid;
    border-bottom-left-radius: 30px;
    margin: 10px 0px;
    background-color: chartreuse;
}

.bt3{
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 50px;
    margin: 10px 0px;
    background-color: blue;
}


.bt4{
    width: 80px;
    height: 40px;
    border: 2px black solid;
    border-radius: 50px;
    margin: 10px 0px;
    background-color:blueviolet;
}